body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* general */

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.base-paragraph-style {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
}

.second-level-header {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.020em;
    text-transform: capitalize;
    text-align: center;
}

.third-level-header {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

/* header */

.header-container {
    display: flex;
    align-items: center;
}

.header-navigator {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 76px;
}

.logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-color-black {
    color: #2E2F42;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-list-link{
    display: block;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.header-list-link:hover,
.header-list-link:focus
{
    color: #404BBF;
}

.header-list-link:active {
    color: #404BBF;
    text-decoration: underline;
}

.header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address {
    margin-left: auto;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404BBF;
}

/* order */

.main-order {
    color: #FFF;
    background-color: #2E2F42;
    text-align: center;
}

.order-container {
    padding-top: 188px;
    padding-bottom: 188px;
}

.main-order-header {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}

.main-order-button {
    cursor: pointer;
    background-color: #4D5AE5;
    color: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
}

.main-order-button:hover,
.main-order-button:focus {
    background-color: #404BBF;
}

/* features */

.main-features-list {
    display: flex;
    padding: 120px 0;
    gap: 24px;
}

.main-features-list .third-level-header {
    margin-bottom: 8px;
}

.features-list-item {
    min-width: 264px;
    flex-basis: ((100% - 72px) / 4)
}

/* team */

.main-team {
    background-color: #F4F4FD;
}

.main-team-header {
    padding-top: 120px;
    padding-bottom: 72px;
}

.main-team-list {
    display: flex;
    gap: 24px;
    padding-bottom: 120px;
}

.main-team-element {
    background-color: #FFFFFF;
    flex-basis: ((100% - 72px) / 4);
}

.member-info {
    padding: 32px 0;
    text-align: center;
}

.member-info > .third-level-header{
    padding-bottom: 8px;
}

/* portfolio */

.main-portfolio-header {
    padding-top: 120px;
    padding-bottom: 72px;
}

.main-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 120px;
}

.portfolio-list-item {
    flex-basis: ((100% - 72px) / 3);
}

.portfolio-info {
    padding: 32px 16px;
    text-align: left;
}

.portfolio-info >.third-level-header {
    padding-bottom: 8px;
}

/* footer */

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.footer-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 264px;
    padding: 100px 0;
}

.footer-elements > .footer-logo {
    padding-bottom: 17.5px;
}

.logo-color-white {
    color: #F4F4FD;
}