body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* general */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.base-paragraph-style {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin: 0;
}

.second-level-header {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.020em;
    text-transform: capitalize;
    text-align: center;
}

.third-level-header {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.icon {
    fill: #f4f4fd;
}

/* header */

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigator {
    display: flex;
    align-items: center;
}

.header-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-color-black {
    color: #2E2F42;
}

.header-list {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.header-list-link {
    position: relative;
    display: block;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-first-link {
    color: #404BBF;
}

.header-first-link::after {
    position: absolute;
    bottom: -1px;
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    border-radius: 2px;
    background-color: #404BBF;
}

.header-list-link:hover,
.header-list-link:focus,
.header-list-link:active {
    color: #404BBF;
}

.header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address {
    margin-left: auto;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404BBF;
}

/* order */

.main-order {
    color: #FFF;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #2E2F42;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.main-order-header {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}

.main-order-button {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    background-color: #4D5AE5;
    color: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-order-button:hover,
.main-order-button:focus {
    background-color: #404BBF;
}

/* features */

.main-features {
    max-width: 1440px;
    margin: 0 auto;
    padding: 120px 0;
}

.main-features-list {
    display: flex;
    gap: 24px;
}

.features-list-item {
    flex-basis: calc((100% - 72px) / 4);
    flex-direction: column;
    align-items: flex-start;
}

.features-list-item-decoration {
    display: flex;
    width: 264px;
    padding: 23px 0;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.features-list-item .third-level-header {
    margin-bottom: 8px;
}

/* team */

.main-team {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-team-header {
    margin-bottom: 72px;
}

.main-team-list {
    display: flex;
    gap: 24px;
}

.main-team-element {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.member-info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 8px;
    padding: 32px 0;
    text-align: center;
    max-width: 232px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}

/* portfolio */

.main-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-portfolio-header {
    margin-bottom: 72px;
}

.main-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-top-info {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);

    color: var(--CLOUD, #F4F4FD);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    margin: 0;
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-overlay,
.portfolio-list-item:focus .portfolio-overlay {
    transform: translateY(0%);
}

.portfolio-info {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
    text-align: left;
}

.portfolio-info >.third-level-header {
    margin-bottom: 8px;
}

/* footer */

.footer {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo-data {
    margin-right: 120px;
}

.footer-social-link-data .base-paragraph-style {
    font-weight: 500;
    margin-bottom: 16px;
    color: #FFFFFF;
}

.footer-social-link-data .social-links {
    gap: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-social-link-data .social-link:hover,
.footer-social-link-data .social-link:focus {
    background-color: #31D0AA;
}

.logo-color-white {
    color: #F4F4FD;
}

/* modal */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);

    opacity: 0;
    visibility: hidden;
    position: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is_open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    padding: 72px 24px 0 24px;
    margin: 0;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: #FCFCFC;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:active {
    background-color: #404BBF;
    fill: white;
}

.modal-title {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
    margin-bottom: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal-input-block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.modal-input-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.modal-input-wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.modal-input-text {
    width: 100%;
    height: 100%;
    min-height: 41px;
    padding-left: 38px;
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.40);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-text:focus {
    border-color: #4D5AE5;
}

.modal-input-text+svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-text:focus+svg {
    fill: #4D5AE5;
}

.modal-input-textarea {
    width: 100%;
    height: 120px;
    min-height: 41px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.40);
    resize: none;
}

.modal-input-textarea::placeholder {
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.last-text-input {
    margin-bottom: 16px;
}

.icon-user-name {
    position: absolute;
    top: 14px;
    left: 19px;
}

.icon-phone {
    position: absolute;
    top: 13px;
    left: 19px;
}

.icon-email {
    position: absolute;
    top: 14px;
    left: 17.5px;
}

.modal-checkbox {
    width: 100%;
    height: 100%;
    display: flex;
}

.checkbox {
    width: 16px;
    height: 16px;
    margin: 0;
}

.modal-policy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-policy-label span {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
}

.policy-link {
    color: #4D5AE5;
    font-size: 12px;
    line-height: 1.34;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

